.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 1000;

  /*   border: 1px solid white;
 */
}
logo {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: -1.5px;
  color: var(--primaryFontColor);
  text-shadow: 0 0 6px var(--primaryFontColor);
}

.navlinks {
  border-bottom: 0.01rem solid var(--secodaryFontColor);
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0.3rem 1.5rem;
  border-radius: var(--primaryBorderRadius);
  gap: 1rem;
  backdrop-filter: blur(20px);
  text-shadow: 0 0 6px var(--primaryFontColor);

  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80%;
  z-index: 1001;
  animation: op 2s ease both;
}

li a {
  color: var(--primaryFontColor);
  text-decoration: none;
  font-size: 1.2rem;
  user-select: none;
}

li a:hover,
li a:active {
  color: hsl(40, 87%, 66%);
  font-size: 1.3rem;
  text-decoration-thickness: 0.1rem;
  text-decoration-color: hsl(43, 98%, 49%);
  text-decoration-style: solid;
  transition: ease-out 0.2s;
}
li a:not(:hover) {
  transition: ease-out 0.3s;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.navbar .btns button {
  background-color: transparent;
  color: var(--primaryFontColor);
  border: 1px solid var(--primaryFontColor);
  border-radius: var(--primaryBorderRadius);
  padding: 0.1rem 0.8rem;
  user-select: none;
}

.navbar button:hover,
.navbar button:active {
  background-color: var(--secodaryFontColor);
  transform: translateY(-0.1rem);
  color: var(--primaryFontColor);
  border: 1px solid var(--primaryFontColor);
  box-shadow: 0px 0px 1px 1px hsl(30, 1%, 47%);
  text-shadow: 0px 0px 0.7px var(--primaryFontColor);
  transition: ease-out 0.3s;
}

.navbar button:not(:hover) {
  transition: ease-out 0.3s;
}
.hero {
  padding-top: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(224, 86, 21);
}
.heroHeading {
  /*   border: 1px solid violet;
 */
  padding: 0;
  color: var(--primaryHeadingColor);
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: -6px;
  text-shadow: 0 0 30px rgb(255, 255, 255);
  max-width: max-content;
  max-width: max-content;
  text-wrap: 0;
  animation: pp 1.5s ease;
  position: relative;
  top: 0;
  z-index: 4;
}

@keyframes pp {
  from {
    opacity: 0;
    transform: translatex(-50%);
  }
}

.heroHeading span {
  font-family: "Parisienne", fantasy;
  font-weight: 100;
  font-size: 5.5rem;
  letter-spacing: 3px;
  opacity: 1;
  animation: op 2.2s 1.8s ease both;
  color: var(--primaryFontColor);
  filter: contrast(90);
}
@keyframes op {
  from {
    opacity: 0;
  }
}
.heroBgImage {
  /*   border: 1px solid blue;
 */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../components/heroGPT.png");
  /*  border-left: 1px solid hsl(from var(--primaryBgColor) 100 60% 10%);
  border-right: 1px solid hsl(from var(--primaryBgColor) 100 60% 10%); */
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  /* box-shadow: 2rem 0 3rem hsl(from var(--primaryBgColor) 100 20% 10%);
 */
  z-index: 0;
  overflow: hidden;
}

.heroBgImage::before {
  content: "";
  position: absolute;
  inset: 0%;

  /* Soft radial glow */
  background: radial-gradient(
    circle at 41% 52%,
    rgba(141, 64, 30, 0.715),
    rgb(65, 150, 116),
    transparent 50%
  );

  animation: radiantPulse 10s ease-in-out infinite alternate;

  opacity: 0.2;
}

@keyframes radiantPulse {
  0% {
    transform: scale(1);
    filter: hue-rotate(0deg);
  }

  25% {
    transform: scale(1.15);

    filter: hue-rotate(25deg);
  }

  50% {
    transform: scale(1.067);
    filter: hue-rotate(10deg) brightness(0.8);
  }

  70% {
    transform: scale(1.2);
    filter: hue-rotate(85deg);
  }

  100% {
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

.heroBgImage::after {
  content: "";
  backdrop-filter: brightness(90%);
  position: absolute;
  inset: 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--primaryBgColor) 0%,
    rgba(23, 25, 27, 0) 18%,
    rgba(23, 25, 27, 0) 82%,
    var(--primaryBgColor) 100%
  );
}

/* ^^^^^^^^^^^Main Section^^^^^^^^^^^^^^ */
header {
  /*   border: 1px solid green;
 */
  min-height: 100vh;
  padding-bottom: 10rem;
  margin-bottom: 4rem;
  z-index: 0;
}

main {
  padding-top: 3rem;
  background: var(--primaryBgColor);
  /*   border: 1px solid yellow;
 */
  animation: fadeIn linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fadeIn {
  from {
    transform: scale(0.65) translateY(2.9rem);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
.ov {
  color: var(--secondaryHeadingColor);
  height: max-content;
  font-size: 2.5rem;
  opacity: 1;
  position: relative;
  top: 5rem;
  left: 2rem;
  z-index: 3;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.overview {
  border: 1px yellow solid;

  max-width: 90%;
  aspect-ratio: 4/2;
  padding: 5rem;
  margin: auto;
  z-index: 1;
  background-image: url("../components/windows3.png");
  background-position: top center;
  background-size: 110%;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.overview::before {
  content: "";
  inset: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    var(--primaryBgColor) 0%,
    rgba(23, 25, 27, 0) 18%,
    rgba(23, 25, 27, 0) 82%,
    var(--primaryBgColor) 100%
  );
  z-index: 2;
}

/* .overviewBgImage1 {
  
  background-image: url(/components/overview1.png);
  background-position: top center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 4/2;
  z-index: 3;
  position: relative;
  top: -50%;
} */

main .overview .leftCard,
main .overview .rightCard {
  border: 1px solid green;
  border-radius: var(--primaryBorderRadius);
  padding: 1.5rem;
  margin: 0.6rem;
  backdrop-filter: blur(2px) sepia(90%);
  width: 20em;
}
