@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
/*  */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
/*   font-family: "Share Tech Mono", monospace;*/
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
/*   font-family: "Parisienne", cursive; */
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
/*    font-family: "Julius Sans One", sans-serif; */

:root {
  /*   --primaryBgColor: hsl(105, 89%, 54%);
 */
  --primaryBgColor: hsl(110, 30%, 4%);
  --primaryHeadingColor: hsl(51, 24%, 85%);
  --secondaryHeadingColor: hsl(46, 58%, 93%);
  --primaryFontColor: #ebd5ab90;
  --secodaryFontColor: #1b211a;
  --primaryBorderRadius: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*   border: 1px solid red;
 */
}

body {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 100;
  /*   background-color: hsl(175, 39%, 6%);
 */
  color: rgb(237, 233, 233);
  background-color: var(--primaryBgColor);
  height: 500vh;
  overflow-x: hidden;
}

h1,
logo {
  transition: 0.3s ease;
  cursor: default;
  user-select: none;
}
